*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #785bed;
}
input{
    width: 700px;
    height: 150px;
    font-size: 90px;
    background-image: url(./bx-search.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 550px ;
}
textarea:focus, input:focus{
    outline: none;
}